body { background-color: #75C95B;
      font-size: 12px;
     }

h2 {text-align: center;
    color: #C71A1C;}
li h3 {text-align: center;
    color: #0C1D96;}

li p {text-align: justify;}

div { background-color: #FFFFFF;
      border: 6px solid #000000;
      border-radius: 12px;
    }
